@font-face {
    font-family: 'Averta';
    src: url('../fonts/avertaweb1/avertaweb/AvertaStd-Regular.woff');
    
    font-style: normal;
    font-weight: 900;

}

div,p,li,h1,h2,h3,h4,a,span{
    font-family: 'Averta';
}



.principle{
    background:#fff;
    text-align: center;
    padding: 60px 0 80px;
    
}

.bred{
    border: 2px solid #e6e9ef;
    border-radius: 12px;
    padding: 0;
    box-shadow: none;
}

@media(min-width:768px){
    .borderli{
        border-right:1px solid #e6e9ef;
    }
    
}

@media(min-width:768px){
    .borderli:last-child{
        border:none;
    }
    
}
@media(max-width:768px){
.borderli{
    /* border-bottom:1px solid #e6e9ef ; */
    border-right: none;
    box-sizing: border-box;
}
.borderli:last-child{
    border:none;
}

.borderli:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #e6e9ef; /* This creates the border. Replace black with whatever color you want. */
}
}
    .portfolio-image{
        border-radius: 2%;
        width: 100%;
    } 

.cardsize{
    height: 484px;
}

.principle .innerworks{
    padding: 30px 45px;
    /* border-right: 1px solid #e6e9ef; */
}

.principle .innerworks img{
    width: 50px;
    margin: auto;
    margin-bottom: 30px;
}
.textclass{
    font-size: 16px;
    
}
.headclass{
    font-size: 20px;
    font-weight: 700;
  
}
/* #mainMenu ul > li:last-child > a:before {
content: '';
width: 1px;
height: 10px;
position: absolute;
left: 0;
top:50%;
background-color: #777;
transform:translateY(-50%);

} */

 .content h2:before{
    content:"";
    position:absolute;
    height:2px;
    width:100px;
    background-color:#2250fc;
    bottom: -30px;
    left:497px;
    right:0;
}

.content h2{
    position: relative;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
}
.readme h2{
    position: relative;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
}
.readme h2:before{
    content:"";
    position:absolute;
    height:2px;
    width:100px;
    background-color:#2250fc;
    bottom: -30px;
    left:497px;
    right:0;
}


.ciontainer {
    position: relative;
    width: 100%;
  }
  
  .imaige {
    display: block;
    width: 100%;
   
  }
  
  .moverlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .ciontainer:hover .moverlay {
    bottom: 0;
    opacity: .5;
    height: 100%;
    cursor: pointer;
  }
  
  .teixt {
    color: white;
    
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 .teixt:hover{
     color: white;
 }
  .heightover{
    height:130px;
  }
.card-text{
    max-height: 50px;
    overflow: hidden;
}
.price-panel{
    display: block;
}
.price-panel ul{
    list-style: none;
}
.price-panel ul li{
    font-size: 18px;
    border-bottom: 1px dashed #e2e5e7;
    padding: 10px 0;
}
.price-panel ul li span{
    color: #000;
    float: right;
    font-size: 22px;
    font-weight: 600;
}

.bootstrap-select > select{
    position: absolute;
    left: 0%;
    top: 0%;
}

@media(max-width:1200px){
    .readme h2:before{
        content:"";
        position:absolute;
        height:0;
        width:0;
        background-color:#2250fc;
        bottom: -30px;
        left:407px;
        right:0;
        
    }
    .readme h2{
        position: relative;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 30px;
    }
}

@media(max-width:1200px){
    .content h2:before{
        content:"";
        position:absolute;
        height:0;
        width:0;
        background-color:#2250fc;
        bottom: -30px;
        left:407px;
        right:0;
        
    }
    .content h2{
        position: relative;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 30px;
    }
}


.faq-wrapper .card-header h5 div{
    border: none;
    width: 100% !important;
    text-align: left;
    color: #000000;
    padding: 20px 30px;
    position: relative;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 5px;
    background: #ffffff;
}
.btn-link{
    text-decoration: none;
}
.faq-wrapper .card-header{
    padding: 0;
    border-bottom: 0;
    background-color: #ffffff;
}
.flexity{
    display: flex;
    justify-content: space-between;
}
.panelcard{
    border-radius: 10px;
}
.panelcard-body{
    padding: 1.8rem 2rem;
    background-color: #2250fa;
    color: white;
    border-radius: 10px;
}
.balance-count{
    font-size: 18px;
    font-weight: 600;

}
.counter{
    font-size: 45px;
    font-weight: 700;
}
sup{
    font-size: 25px;
}
.balance-count-texted{
    display: flex;
    justify-content: space-between;
}
.text-delivery p{
color: white;
width: 260px;

}
b{
    font-weight: 700;
    text-transform: uppercase;
}
.text-delivery{
    display: flex;
    justify-content:space-between;
}
.btn-effect{
    width: 119px;
    border-color: #fff;
    color: #fff;
   
}
.border-btn{
    border:1px solid white; 
    padding: 9px 4px;
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 5px;
}
.border-btn a:hover{
    background-color: red;
}
.btn-effect-flex{
     display: flex;
     justify-content: space-between;
}
.form-size{
    width: 33%;
}
.card-panel-y{
    background-color: #fff;
    border-bottom: 1px solid #e6e8eb;
    font-weight: 600;
    border-radius: 10px;
}
th{
    background-color: #454d55;
    border-color: whitesmoke;
    color: whitesmoke;
}

.tab-pane-flex{
    width:70%;
    list-style: none;
    padding: 0;
    margin: 0;

}

.tab-pane-flex2{
    width:26%;
    list-style: none;
    padding: 0;
    margin: 0;

}
